@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* In your globals.css or a specific CSS module */
code {
  /* background-color: #f5f5f5; */
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
}

/* pre {
  background-color: #2d2d2d; 
  color: #ffffff;            
  padding: 20px;
  border-radius: 5px;
  overflow-x: auto;          
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
} */
